<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="../static/css/lb.css" rel="stylesheet" type="text/css">

<body>
<div class="total">
    <ul class="ul">
        <li style="display: block"><a href="#"><img src="../static/picture/1.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/2.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/3.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/4.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/5.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/6.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/7.jpg"></a></li>
        <li><a href="#"><img src="/static/picture/8.jpg"></a></li>
    </ul>
    <ul class="circle_ul">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="left bot"><</div>
    <div class="right bot">></div>
</div>
<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="../static/js/lb.js" type="text/javascript"></script>
</body>
</html>