<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div style="width: 500px;margin: 200px auto">
<form action="/edit_teacher/{{ nid }}" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label>姓名</label>
    {{ obj.name }}{{ obj.name.errors }}
  </div>
  <div class="form-group">
    <label>邮箱</label>
    {{ obj.email }}{{ obj.email.errors }}
  </div>
  <div class="form-group">
    <label>班级</label>
     {{obj.cls_id }}
  </div>
  <input type="submit" class="btn btn-default" value="提交">
</form>
</div>
</body>
</html>